body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  #calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(211, 34, 155, 0.336);
    border-radius: 30px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    width: 400px;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  #calculator h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(236, 85, 85);
    padding-top: 1rem;
    text-shadow: 1px 1px 1px rgb(7, 7, 7);
  }
  
  #display {
    height: 60px;
    width: 100%;
    padding: 1rem;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 151, 151);
    border: 5px solid black;
    border-radius: 20px;
    text-shadow: 1px 1px 1px rgb(7, 7, 7);
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  #buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
  }
  
  button {
    font-weight: bold;
    aspect-ratio: 1 / 1;
    font-size: 2rem;
    border-radius: 50px;
    border: 3px solid rgb(232, 14, 14);
    background-color: rgb(12, 16, 49);
    color: white;
    cursor: pointer;
    width: 100%;
    max-width: 80px;
  }
  
  button:hover {
    background-color: rgba(58, 30, 113, 0.886);
  }
  
  button:active {
    background-color: rgba(10, 55, 177, 0.95);
  }
  
  .opbtn {
    background-color: rgb(32, 188, 220);
    color: black;
  }
  
  .opbtn:hover {
    background-color: rgb(7, 69, 89);
  }
  
  .opbtn:active {
    background-color: rgba(0, 0, 255, 0.486);
  }
  
  .sum {
    background-color: rgb(225, 18, 36);
    color: black;
  }
  
  .sum:hover {
    background-color: rgb(186, 46, 65);
  }
  
  .sum:active {
    background-color: rgba(113, 4, 26, 0.894);
  }
  
  .clear {
    background-color: rgb(176, 220, 32);
    color: black;
  }
  
  .clear:hover {
    background-color: rgb(169, 228, 91);
  }
  
  .clear:active {
    background-color: rgba(112, 125, 12, 0.753);
  }
  
  @media (max-width: 600px) {
    #calculator {
      width: 100%;
      padding: 0.5rem;
    }
  
    #calculator h1 {
      font-size: 1.5rem;
    }
  
    #display {
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  
    button {
      font-size: 1.5rem;
      max-width: 70px;
    }
  
    #buttons {
      gap: 8px;
    }
  }
  